/* Apply styles from Tailwind */

@tailwind base;
@tailwind components;
@tailwind utilities;

.scroll {
    margin: 0 2em;
}

.scroll p {
    font-size: 2em;
    color: white;
    font-weight: bold;
    margin-bottom: 0;
    line-height: 10px;
}
